<%- include('partials/header') -%>
	
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<article class="post">
				<header>
					<div class="title">
						<h2>
							<%= post.title %>
						</h2>
					</div>
					<div class="meta">
						<a href="#" class="author"><span class="name">
								<%= post.userName %>
							</span><img src="<%=user.profilePic%>" alt="" /></a>
					</div>
				</header>
				<span class="image featured"><img src="<%= post.image%>" alt="" /></span>
				<p>
					<%= post.caption %>
				</p>


				<footer>
					<ul class="actions">
						<li><a href="/feed" class="button large">Return to Feed</a></li>
					</ul>
					<ul class="stats">
						<%if(post.user==user.id){ %>
							<form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
								<button class="btn btn-primary fa fa-trash">Trash</button>
							</form>
							<%}%>
								<form action="/post/createComment/<%=post.id%>" method="POST">
									<div class="mb-3">
										<label for="comment" class="form-label">Comment</label>
										<input type="text" class="form-control" id="comment" name="comment">
										<button type="submit">Add Comment</button>
									</div>
								</form>
								<% for(var i=0; i<comments.length; i++) {%>
									<li class="col-6 justify-content-between mt-5">
										<p>Made by: <%= user.userName %>
										</p>
										<p>
											<%= comments[i].comment %>
										</p>
										<form action="/post/deleteComment/<%= post.id %>/<%= comments[i].id %>?_method=DELETE" method="POST"
											class="col-3">
											<button class="button large">Trash</button>
										</form>
									</li>
									<% } %>
										<form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
											<input class="hide" type="text" name="page" value="feed" hidden>
											<button class="icon solid fa-heart" type="submit">
												<%= post.likes %> %>
											</button>
										</form>

										<%let commentCount=comments.filter(x=> x.postID.equals(post._id)).length%>
											<li><a href="#" class="icon solid fa-comment"></a>
												<%=commentCount%>
											</li>
											<time class="author">
												<%= post.createdAt.toISOString().split('T')[0] %>
											</time>
											<a class="button large" href="/profile">Return to Profile</a>
        <a class="button large" href="/feed">Return to Feed</a>
					</ul>
				</footer>
			</article>

		</div>

		<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
				<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
					href="http://unsplash.com">Unsplash</a>.</p>
		</section>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>