<!DOCTYPE HTML>
<html>

<head>
	<title>MINDFUL YOGI</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body class="single is-preload">


	<!-- Header -->
	<header id="header">
		<h1><a href="/feed">Mindful Yogi</a></h1>
		<nav class="links">
			<ul>
				<li><a href="/tracker">DAILY LOG</a></li>
				<li><a href="/seq/media">MY MEDIA</a></li>
				<li><a href="/cal">CALENDAR</a></li>
				<li><a href="/profile">PROFILE</a></li>
				<li><a href="/seq">SEQUENCES</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</nav>
		<nav class="main">
			<ul>
				<li>
					<a class="fa-search">Search</a>
					<form>
						<input type="text" id="searchid" name="category" placeholder="Search" />
					</form>
				</li>
			</ul>
		</nav>
	</header>

	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<article class="post">
				<header>
					<div class="title">
						<h2>
							<%= post.title %>
						</h2>
					</div>
					<div class="meta">
						<a href="#" class="author"><span class="name">
								<%= post.userName %>
							</span><img src="<%=user.profilePic%>" alt="" /></a>
							<time class="author">
								<%= post.createdAt.toISOString().split('T')[0] %>
							</time>
					</div>
				</header>
				<span class="image featured"><img src="<%= post.image%>" alt="" /></span>
				<p>
					<%= post.caption %>
				</p>


				<footer>
					
					<ul class="stats">
						
								<form action="/post/createComment/<%=post.id%>" method="POST">
									<div class="mb-3">
										
										<input type="text" class="form-control" id="comment" name="comment">
										<button type="submit">Add Comment</button>
									</div>
								</form>
								<% for(var i=0; i<comments.length; i++) {%>
									<li class="col-6 justify-content-between mt-5">
										
										<p>Made by: <%= user.userName %>
										</p>
										<p>
											<%= comments[i].comment %>
										</p>
										<form action="/post/deleteComment/<%= post.id %>/<%= comments[i].id %>?_method=DELETE" method="POST"
											class="col-3">
											<button class="button large">Trash</button>
										</form>
									</li>
									<% } %>
										<form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
											<input class="hide" type="text" name="page" value="feed" hidden>
											<button class="icon solid fa-heart" type="submit">
												<%= post.likes %> %>
											</button>
											<%let commentCount=comments.filter(x=> x.postID.equals(post._id)).length%>
											
													<button class="icon solid fa-comment" type="submit">
														
														<%=commentCount%>
													</button>
										</form>
										<%if(post.user==user.id){ %>
											<form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
												<button class="btn btn-primary fa fa-trash">Delete Post</button>
											</form>
											<%}%>
											</li>
										
											<a class="button large" href="/profile">Return to Profile</a>
											<a class="button large" href="/feed">Return to Feed</a>
					</ul>
				</footer>
			</article>

		</div>

		<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/alinainch" target="_blank" class="icon brands fa-twitter"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://alinainch.netlify.app/" target="_blank" class="icon solid fa-rss"><span
							class="label">RSS</span></a></li>
				<li><a href="https://linkedin.com/in/alina-inchaustegui" target="_blank"
						class="fa-brands fa-linkedin-in">Linkedin</span></a></li>
				<li><a href="mailto:alinainchaustegui@gmail.com" target="_blank" class="icon solid fa-envelope"><span
							class="label">Email</span></a></li>
			</ul>
			<p class="copyright">&copy; Mindful Yogi: <a href="http://html5up.net">Alina Inchaustegui</a>
		</section>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

</body>

</html>