<%- include('partials/header') -%>
<header id="header">
  <h1><a href="/feed">Mindful Yogi</a></h1>
  <nav class="links">
    <ul>
      <li><a href="/tracker">DAILY LOG</a></li>
      <li><a href="/media">MY MEDIA</a></li>
      <li><a href="/cal">CALENDAR</a></li>
      <li><a href="/profile">PROFILE</a></li>
      <li><a href="/sequence">SEQUENCES</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li>
    </ul>
  </nav>
</header>
<div class="col-6">
  <div>
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <a href="/logout" class="col-3 btn btn-primary">Logout</a>
  </div>
  <div class="mt-5">
    <h2>Add a post</h2>
    <form action="/post/createPost" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="caption" class="form-label">Caption</label>
        <textarea class="form-control" id="caption" name="caption"></textarea>
      </div>
      <div class="mb-3">
        <label for="imgUpload" class="form-label">Image</label>
        <input type="file" class="form-control" id="imageUpload" name="file">
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select name="category" id="">
          <option value="vinyasa">Vinyasa</option>
          <option value="restorative">Restorative</option>
          <option value="hatha">Hatha</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>
  </div>
  <div class="mt-5">
    <h3>Update Profile</h3>
    <form action="/post/profilePic" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
        <label for="imgUpload" class="form-label">Image</label>
        <input type="file" class="form-control" id="imageUpload" name="file">
      </div>
    </form>
  </div>
  <div class="col-6">
    <ul class="row list-unstyled">
    <% for(var i=0; i<posts.length; i++) {%>
      <li class="col-6 justify-content-between mt-5">
        <a href="/post/<%= posts[i]._id%>">
          <img class="img-fluid" src="<%= posts[i].image%>">
        </a>
      </li>
      <% } %>
    </ul>
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>  
      
  </div>




  <script src="/jquery-3.6.4.slim.min.js"></script>
  <script src="/evo-calendar.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript" src="/cal.js"></script>

<%- include('partials/footer') -%>