<%- include('partials/header') -%>

  <body class="is-preload">
    <header id="header">
      <h1><a href="/feed">Mindful Yogi</a></h1>
      <nav class="links">
        <ul>
          <li><a href="/tracker">DAILY LOG</a></li>
          <li><a href="/media">MY MEDIA</a></li>
          <li><a href="/cal">CALENDAR</a></li>
          <li><a href="/profile">PROFILE</a></li>
          <li><a href="/sequence">SEQUENCES</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </nav>
      <nav class="main">
        <ul>
          <li class="search">
            <a class="fa-search" href="#search">Search</a>
            <form id="search" method="get" action="#">
              <input type="text" name="query" placeholder="Search" />
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-6">
          <h2>
            <%= post.title %>
          </h2>
          <img class="img-fluid" src="<%= post.image%>" />
          <div class="row justify-content-between">
            <form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
              <button class="icon solid fa-heart" type="submit"></button>
            </form>
            <h3 class="col-3">Likes: <%= post.likes %>
            </h3>
            <%if(post.user==user.id){ %>
              <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
                <button class="btn btn-primary fa fa-trash">Trash</button>
              </form>
              <%}%>
                <form action="/post/createComment/<%=post.id%>" method="POST">
                  <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <input type="text" class="form-control" id="comment" name="comment">
                    <button type="submit">Add Comment</button>
                  </div>
                </form>
          </div>
        </div>
        <div class="col-3 mt-5">
          <p>
            <%= post.caption %>
          </p>
        </div>
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for(var i=0; i<comments.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <p>Made by: <%= user.userName %>
                </p>
                <p>
                  <%= comments[i].comment %>
                </p>
                <form action="/post/deleteComment/<%= post.id %>/<%= comments[i].id %>?_method=DELETE" method="POST"
                  class="col-3">
                  <button class="btn btn-primary fa fa-trash">Trash</button>
                </form>
              </li>
              <% } %>
          </ul>
          <div class="col-6 mt-5">
            <a class="btn btn-primary" href="/profile">Return to Profile</a>
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>
        </div>
      </div>
  </body>

  <%- include('partials/footer') -%>