<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Document</title>
</head>

<body>

  <!--  -->
  <form action="/seq/pose?_method=GET" method="POST">
    <input name="pose" type="text">
    <button type="submit">Check</button>
  </form>

  <!-- Just for searching the API -->
  <p></p>
  <img src="">
  <p>Description:</p>
  <p>Benefits:</p>
  <button id="addSeq">+</button>

  <!-- Create new Sequence -->
  <% for(let j=0; j < sequences.length; j++){ %>
    <a href="/seq/<%=sequences[j]._id%>">
      <%=sequences[j].title%>
    </a>
    <% } %>
      <form action="/seq/newSeq" method="POST">
        <input type="text" name="title" placeholder="Title">
        <button type="submit">add seq</button>
      </form>

      <!-- Building a sequence -->
      <% for(let i=0; i < allPoses.length; i++){ %>
        <section class="posesCard">
          <!-- this is to display to user but not availabile in DB -->
          <p>
            <%=allPoses[i].english_name%>
          </p>
          <img src="<%=allPoses[i].url_svg%>">

          <form action="/seq/addPose?_method=PUT" method="POST">
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Add Pose</label>
              <!-- putting it inside the form so we can send it to the DB -->
              <!-- hide 2 inputs so we can send to backend but user won't see it -->
              <input class="hide" type="text" name="poseName" value="<%=allPoses[i].english_name%>">
              <input class="hide" type="text" name="poseImg" value="<%=allPoses[i].url_svg%>">
              <select name="sequences" id="">
                <% for(let j=0; j < sequences.length; j++){ %>
                  <option value="<%=sequences[j]._id%>">
                    <%=sequences[j].title%>
                  </option>
                  <% } %>
              </select>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </div>
          </form>
        </section>
        <% } %>





</body>

</html>